@import '../../styles/variables.scss';

.Menu {
  width: 800px;
  border: 1px solid #000;
  padding: 20px;
  text-align: center;

  @include mobile {
    width: 100%;
  }

  &__subSection {
    padding: 25px 0 15px;
    text-decoration: underline;
  }

  table {
    margin: 0 auto;
  }

  th {
    font-weight: normal;

    &:first-child {
      text-align: left;
    }

    &:last-child {
      text-align: right;
      padding-left: 20px;
    }
  }
}