@import '../../styles/variables.scss';

.Nav {
  display: flex;
  justify-content: center;

  &__link {
    padding: 0 15px;
    margin: 0 30px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    cursor: pointer;

    @include mobile {
      padding: 0px;
      margin: 0px;
    }
  }

  &__subscribe:hover {
    background: #fad364;
    color: #000;
  }

  a:hover {
    border-bottom: 1px solid;
  }

  @include mobile {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
}