@import '../../styles/variables.scss';

.MainPhotos {
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;
  height: 360px;

  @include mobile {
    height: 100%;
    overflow: auto;
    display: block;
  }

  &__photo {
    width: $mainPhotoWidth;
    height: 100%;

    &:nth-child(2) {
      margin: 0 10px;
    }

    @include mobile {
      width: 100%;
      margin: 0 !important;
      padding-bottom: 10px;
    }
  }

  @include mobile {
    flex-direction: column;
  }
}