@import '../../styles/variables.scss';

.Location {
  display: flex;
  justify-content: center;
  align-items: center;

  @include mobile {
    flex-direction: column;
  }

  &__header {
    font-size: 1.5rem;
    font-weight: $bold;
  }

  &__col1 {
    padding-left: 50px;
    width: 350px;

    @include mobile {
      padding-left: 0;
      padding-bottom: 25px;
    }
  }

  &__col2 {
    width: 450px;
  }

  &__notes {
    padding-top: 30px;
  }

  tr, th {
    text-align: left;
  }

  th:last-child {
    text-align: right;
    padding-left: 50px;
  }
}